.cookie-consent-container {
    text-align: center;
    -webkit-animation: cookieAnimation 3s linear infinite;
    -moz-animation: cookieAnimation 3s linear infinite;
    animation: cookieAnimation 3s linear infinite;
    padding: 10px;
    border-top-right-radius: 30px;
}

@keyframes cookieAnimation {
    50% {
        border-top-right-radius: 5px;
    }
}

.messageInfoCookies {
    font-weight: 600;
    -webkit-animation: animationInfoCookies 2s linear infinite;
    -moz-animation: animationInfoCookies 2s linear infinite;
    animation: animationInfoCookies 2s linear infinite;
    font-size: 17px;
}

@keyframes animationInfoCookies {
    50% {
        color: #ffb02e;
    }
}


@media(max-width:991px) {
    .cookie-consent-container {
        padding: 0px;
        border-top-left-radius: 30px;
    }

    @keyframes cookieAnimation {
        50% {
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
        }
    }

}