.search-results {
    margin-bottom: -12%;
    padding: 4%;
    align-items: center;
    text-align: center;
}

.chioseDayAndDay {
    text-align: center;
}


.chioseDayAndDay img {
    height: 60px;
}

.showDayItems {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
}


.showDay Button {
    margin-top: 5%;
    padding: 1%;
    font-size: 18px;
    color: Gray Text;
    border: none;
    border-radius: 25% 10%;
    display: flex;
    justify-content: center;
}

.showDay Button:hover {
    background: none;
}

.showDay Button:active {
    background: none;
}


.showDayDark Button {
    margin-top: 5%;
    padding: 1%;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 25% 10%;
    display: flex;
    justify-content: center;
}

.showDay Button:focus,
.showDayDark Button:focus {
    outline: none;
    box-shadow: none;
}

.showDayDark Button:hover {
    background: none;
    color: white;
}


.hourNotActive p {
    cursor: no-drop;
    text-decoration: red line-through;
    font-size: 18px;
    color: Gray Text;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.hourActive p {
    cursor: pointer;
    font-size: 18px;
    color: Gray Text;
    display: flex;
    justify-content: center;
    position: relative;

}

.hourActive p:hover {
    background: rgba(0, 128, 0, 0);
}


.showDay Button:before,
.showDayDark Button:before,
.hourActive p:before {
    content: "";
    position: absolute;
    width: 30%;
    height: 2px;
    bottom: 0;
    background-color: #2e9def;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.4s ease-in-out 0s;
}

.showDay Button:hover:before,
.showDayDark Button:hover:before,
.hourActive p:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.borderPlace {
    border-bottom: 3px solid gray;
    border-radius: 50%;
    margin-top: 2%;
    margin-bottom: 5%;
}

.loadingDaysHour {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingDaysHour img {
    height: 150px;
}


.showInfoUserQueue {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: -60px;
}

.showInfoUserQueue i {
    color: white;
    font-size: 20px;
}

.showInfoUserQueue p {
    color: white;
    margin-bottom: 35px;
}

.gifImageRobot {
    display: flex;
    justify-content: center;
}

.gifImageRobot img {
    height: 150px;
}

.gifImageUserSaveData {
    display: flex;
    justify-content: center;
}

.gifImageUserSaveData img {
    height: 160px;
}

.showRobotBoxAppoinment {
    display: flex;
    flex-direction: column;
    background: rgba(60, 60, 60, 0.7);
    backdrop-filter: blur(3px);
    width: auto;
    border-radius: 29px;
    padding: 3.8%;
}

.appointmentRobotBoxButton {
    margin-top: 0.5%;
    display: flex;
    justify-content: space-around;
}


.writeNotHaveTodayTurn,
.saveUserTurn {
    display: flex;
    justify-content: center;
    text-align: center;
}

.writeNotHaveTodayTurn h6 {
    color: Gray Text;
    cursor: none;
}

.closeClinicToday {
    margin-bottom: 6%;
    cursor: none;
}

.closeClinicToday img {
    width: 70px;
    height: auto;
}

.saveUserTurn p {
    margin-top: 5%;
    font-size: 17px;
    width: 500px;
    color: white;
    animation: blink 2.5s infinite;
    animation-fill-mode: both;
    cursor: none;
}

@keyframes blink {
    0% {
        opacity: 0.5
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0.5
    }
}