.nav-links {
    position: relative;
    display: flex;
    justify-content: center;
}


.link a {
    color: white;
    text-decoration: none;
}

.menuDark img {
    height: 65px;
}

.menuDark {
    background: #202020;
    padding: 10px;
}

.menu {
    background: whitesmoke;
    padding: 10px;
}

.menu .link a {
    color: rgba(0, 0, 0, 0.58);
    text-decoration: none;
}

.menu img {
    height: 65px;
}

.imgPrf {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.imgPrf button {
    font-size: 14px;
    display: flex;
    justify-content: center;
    position: relative;
}

.imgPrf Button:focus {
    outline: none;
    box-shadow: none;
}


.nav-links:before,
.imgPrf button:before {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    bottom: 0;
    background-color: #2e9def;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.4s ease-in-out 0s;
}

.nav-links:hover:before,
.imgPrf button:hover:before {
    visibility: visible;
    transform: scaleX(1);
}


@media(max-width:640px) {

    .nav-links:before {
        width: 10%;
    }
}