.titleAbout,
.titleInformation,
.titleAboutDark,
.titleInformationDark {
  text-align: center;
  align-items: center;
  padding-bottom: -9%;
}


.titleAbout h1 {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #00000094;
}

.titleAboutDark h1 {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #ffffffab;
}


.titleAbout p {
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  color: #00000094;
}


.titleAbout p::first-letter {
  font-size: 14px;
  color: #000000bb;
  font-weight: bold;
}

.titleAboutDark p {
  font-family: 'Raleway', sans-serif;
  color: #ffffffab;
  font-size: 14px;
}

.titleAboutDark p::first-letter {
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
}

.titleAbout a {
  font-size: 15px;
  color: #00000094;
  font-weight: bold;
  text-decoration: none;
}

.titleAboutDark a {
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;

}


.titleInformation h1 {
  font-size: 23px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #00000094;
}

.titleInformationDark h1 {
  font-size: 23px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #ffffffab;
}


.cardsInfoAbout {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 15px;
  padding-bottom: 6%;
}



.a-box {
  display: inline-block;
  width: 260px;
  text-align: center;
}

.img {
  height: 160px;
  width: auto;
  overflow: hidden;
  display: inline-block;
}

.img img {
  height: 140px;
}

.inner-skew {
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
  padding: 0px;
  font-size: 0px;
  margin: 30px 0px 0px 0px;
  height: 250px;
  width: 200px;
}

.text {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 120px 20px 20px 20px;
  border-radius: 20px;
  background: whitesmoke;
  margin: -120px 0px 0px 0px;
  line-height: 1px;
}

.textDark {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 120px 20px 20px 20px;
  border-radius: 20px;
  background: #424242;
  margin: -120px 0px 0px 0px;
  line-height: 1px;
}

.text p {
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #00000094;
  border-bottom: 2px solid #00000000;
  background: no-repeat, linear-gradient(to left, #00000094 40%, #cea87c00 40%, #cea87c00 60%, #00000094 60%);
}

.textDark p {
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #ffffffab;
  border-bottom: 2px solid #00000000;
  background: no-repeat, linear-gradient(to left, #ffffffab 40%, #cea87c00 40%, #cea87c00 60%, #ffffffab 60%);
}

.text h3 {
  font-family: 'Raleway', sans-serif;
  margin: 20px 0px 30px 0px;
  color: #00000094;
  font-size: 15px;
}

.textDark h3 {
  font-family: 'Raleway', sans-serif;
  margin: 20px 0px 30px 0px;
  color: #ffffffab;
  font-size: 15px;
}




.loadingCountPersonalClinic {
  display: flex;
  justify-content: center;
  align-items: center;
}


.loadingCountPersonalClinic img {
  height: 200px;
  margin-bottom: 17%;
  margin-top: 10%;
}




@media(max-width:991px) {

  .titleAbout,
  .titleInformation,
  .titleAboutDark,
  .titleInformationDark {
    margin: 4%;
  }

  .titleAbout h1,
  .titleAboutDark h1{
    font-size: 22px;

  }

  .loadingCountPersonalClinic h1 {
    font-size: 22px;
  }

  .loadingCountPersonalClinic img {
    height: 170px;
    margin-bottom: 30%;
    margin-top: 30%;
  }
}



/* @media(max-width:991px) {

  .styleLoader {
    margin-bottom: 57%;
    display: flex;
    justify-content: center;
    margin-top: 40%;
  }
} */