/* desgin scroll in web */
html::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

html::-webkit-scrollbar {
    width: 12px;
    background-color: #ffffff;
}


html::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: rgb(131, 131, 131);
    border: 3px solid white;
}



.main1 {
    position: relative;
}

.main1 video {
    margin-top: -8px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    width: 100%;
    object-fit: cover;
}

.content {
    width: 100%;
    height: 450px;
    top: -8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 62px;
    font-weight: 800;
    line-height: 72px;
    margin: 0 0 24px;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, .4);
}

.Click_appointment .click button {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    border: none;
}

.choise img {
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 4%;
    position: relative;
    width: 100%;
    height: 220px;
    border-radius: 3%;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    /* border-radius: 30px; */
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.categoryLook {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.301);
    /* border-radius: 30px; */
    width: 92%;
}

.title h1 {
    font-size: 25px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    align-items: center;
}


.closes {
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
    font-size: 2.5rem;
    line-height: 1;
    color: rgb(252, 252, 252);
    opacity: 1;
    border: none;
    background-color: none;
    -webkit-appearance: none;
    cursor: pointer;
}


.titleHeater {
    margin-top: -5%;
}


@media(max-width:991px) {

    .content {
        font-size: 30px;
        font-weight: 600;
    }

    .title {
        position: absolute;
        top: 82%;
    }

    .title h1 {
        font-size: 20px;
    }
}