.startImg {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url("https://i.postimg.cc/bYnk9CMR/33.webp"), fixed;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 470px;
    width: 100%;
}


.content p {
    color: #ffffff;
    font-size: 40px;
    padding-left: 380px;
}

.content h1 {
    color: #ffffff;
    font-size: 40px;
    padding-right: 280px;
}


.content {
    position: absolute;
    top: 30%;
    left: 16px;
    line-height: 60px;
    font-size: 50px;
    color: #ffffff;
    font-weight: 780;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
}

.click {
    display: flex;
    justify-content: center;
}

.Click_appointment .click button {
    margin-top: 1.5%;
    width: 83%;
    font-size: 18px;
    border: none;
    font-weight: 500;
    align-items: center;
    display: inline-block;
    padding: 0.25rem 1rem;
    border-radius: 10rem;
    color: #fff;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-animation: animationAddNewTurnUser 3s linear infinite;
    -moz-animation: animationAddNewTurnUser 3s linear infinite;
    animation: animationAddNewTurnUser 3s linear infinite;
}


.Click_appointment .click button:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    z-index: -2;
}

.Click_appointment .click button:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #008fb3;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}

.Click_appointment .click button:hover {
    color: #fff;
}

.Click_appointment .click button:hover:before {
    width: 100%;
}


@keyframes animationAddNewTurnUser {
    50% {
        width: 75%;
    }
}


.categoryLook {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 55px;
    margin-top: 1.5%;
    margin-bottom: 5.5%;
}


.choise img {
    position: relative;
    width: 500px;
    height: 190px;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    border-radius: 30px;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    transform: filter 300ms;
}

.choise img:hover {
    opacity: 0.9;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

.categoryLook:has(.choise img:hover) .choise img:not(:hover) {
    filter: grayscale(30%) brightness(70%);
}


.title {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.450);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 1%;
}



.title a {
    font-size: 19px;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 1px;
    line-height: 10px;
    text-decoration: none;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}


.title a:hover {
    color: #ffffffa3;
}


.showModelAddAppointmentUser {
    background: rgba(255, 255, 255, 0.875);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 29px;
    padding: 5%;
}

.showModelAddAppointmentUserDark {
    background: #202020e6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 29px;
    padding: 5%;
    border: 2px solid rgba(255, 255, 255, 0.526);
}


.closeModelAddAppointmentUser Button {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 100% 50%;
}


@media(max-width:991px) {

    .startImg {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("https://i.postimg.cc/KzGWXd0Z/5901203-2009.jpg");
    }

    .content {
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        line-height: 30px;
    }

    .content p {
        color: #ffffff;
        font-size: 25px;
        padding-left: 0px;
        width: 200px;
    }

    .content h1 {
        color: #ffffff;
        font-size: 25px;
        padding-right: 0px;
    }

    .choise img {
        height: 150px;
        width: 280px;
    }

    .title h1 {
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .Click_appointment .click button {
        margin-top: 4%;
        font-size: 16px;
        padding: 0.25rem 5rem;
    }

    .categoryLook {
        margin-top: 4%;
    }

    .Click_appointment .click button {
        -webkit-animation: animationAddNewTurnUser 0s linear infinite;
        -moz-animation: animationAddNewTurnUser 0s linear infinite;
        animation: animationAddNewTurnUser 0s linear infinite;
    }

}


/* For 1024 Resolution */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .choise img {
        width: 300px;
        height: 190px;
    }
}

/* For 1366 Resolution */
@media only screen and (min-width: 1030px) and (max-width: 1366px) {
    .choise img {
        width: 310px;
        height: 190px;
    }
}


@media (min-width:1281px) {
    .startImg {
        background-size: cover;
        height: 650px;
    }
}