/* desgin scroll in web */
html::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

html::-webkit-scrollbar {
    width: 12px;
    background-color: #ffffff;
}


html::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: rgb(131, 131, 131);
    border: 3px solid white;
}



.main1 {
    position: relative;
}

.main1 img {
    margin-top: -8px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    width: 100%;
    object-fit: cover;
}

.content {
    width: 100%;
    height: 450px;
    top: -8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    position: absolute;
    color: #ffffff;
    /* font-family: 'Raleway', sans-serif; */
    font-size: 45px;
    font-weight: 780;
    letter-spacing: 7px;
    line-height: 52px;
    /* margin: 0 0 24px; */
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.240);
}

.Click_appointment .click button {
    margin-top: 1.5%;
    width: 100%;
    font-size: 17px;
    border: none;
    font-weight: 500;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.choise img {
    margin-top: 1%;
    padding: 4%;
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 3%;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    /* border-top-left-radius: 30px;
    border-top-right-radius: 30px; */
    border-radius: 30px;
}

.categoryLook {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    position: absolute;
    top: 81%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.400);
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
    border-radius: 10px;
    width: 92%;
}

.title h1 {
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    align-items: center;
    letter-spacing: 2px;
}

.showModelAddAppointmentUser {
    background: rgba(255, 255, 255, 0.875);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: auto;
    border-radius: 29px;
    padding: 5%;
}

.showModelAddAppointmentUserDark {
    background: #202020e6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: auto;
    border-radius: 29px;
    padding: 5%;
    border: 2px solid rgba(255, 255, 255, 0.526);
}


.closeModelAddAppointmentUser Button {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 100% 50%;
}


.titleHeater img {
    height: 90px;
    margin-top: -13%;
    margin-bottom: -5%;
}


@media(max-width:991px) {

    .content {
        font-size: 30px;
    }

    .title {
        position: absolute;
        top: 84%;
    }

    .Click_appointment .click button {
        margin-top: 4%;
        border-top-left-radius: 30%;
        border-bottom-right-radius: 30%;
    }
}