.modelLogin {
    display: flex;
    align-items: center;
    justify-content: center;
}


.modelLogin img {
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    width: auto;
    height: 150px;
    border-radius: 30px;
}

.form-box {
    width: 350px;
    height: auto;
    background-color: #faf9f8;
    padding: 10px;
    border-radius: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 2px solid rgba(0, 179, 255, 0.22);

}

.form-boxDark {
    width: 350px;
    height: auto;
    background: #424242;
    padding: 10px;
    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 0.526);
}

.loginInOrCloseButtom {
    display: flex;
    justify-content: space-evenly;
}


.header-form {
    margin-bottom: 15px;
}

.form button {
    margin-top: 40px;
    margin-bottom: 10px;
}

.message,
.messageDark,
.DemoUserAndDoctor,
.DemoUserAndDoctorDark,
.infoVideoAAdmin,
.infoVideoAAdminDark {
    display: flex;
    justify-content: center;
    font-size: 13px;
}

.messageDark,
.DemoUserAndDoctorDark,
.infoVideoAAdminDark {
    color: white;
}

.messageDark p,
.message p,
.infoVideoAAdminDark a {
    cursor: pointer;
}



.input-group input {
    background-color: #8ccdeb1d;
    color: rgb(134, 134, 134);
    font-size: 13px;
}


.DemoUserAndDoctor a {
    text-decoration: none;
    font-weight: bold;
    color: #232323;
    cursor: pointer;
    font-size: 14px;
}


.DemoUserAndDoctorDark a {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
}


.borderSpace {
    border-bottom: 2px solid rgba(0, 0, 0, 0.59);
    margin-top: 5%;
    margin-bottom: 2%;
}

.borderSpaceDark {
    border-bottom: 2px solid rgba(255, 255, 255, 0.59);
    margin-top: 5%;
    margin-bottom: 2%;
}




.styleVideoAdmin video {
    width: 100%;
    background: #373e443d;
}


.infoVideoAAdmin a {
    animation: color-changeInfoAdmin 2s infinite;
    text-decoration: none;
    font-weight: bold;
    color: #232323;
    cursor: pointer;
    font-size: 14px;
}

@keyframes color-changeInfoAdmin {
    0% {
        color: #000000;
    }

    50% {
        color: #60b6f1;
    }

    100% {
        color: #000000;
    }
}



.DemoUserAndDoctor a {
    animation: color-changeInfoDemoConnect 2s infinite;
}



@keyframes color-changeInfoDemoConnect {
    0% {
        color: #000000;
    }

    50% {
        color: #fec107;
    }

    100% {
        color: #000000;
    }
}



.DemoUserAndDoctorDark a {
    animation: color-changeInfoDemoConnectDark 2s infinite;
}


@keyframes color-changeInfoDemoConnectDark {
    0% {
        color: #ffffff;
    }

    50% {
        color: #fec107;
    }

    100% {
        color: #ffffff;
    }
}




.infoVideoAAdminDark a {
    animation: color-changeInfoAdminDark 2s infinite;
}


@keyframes color-changeInfoAdminDark {
    0% {
        color: #ffffff;
    }

    50% {
        color: #60b6f1;
    }

    100% {
        color: #ffffff;
    }
}