
.titleOurWork,
.titleOurWorkDark {
    text-align: center;
    align-items: center;
    padding-top: 2%;
}

.titleOurWork h1 {
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #00000094;
}

.titleOurWork p {
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    color: #00000094;
}

.titleOurWork a {
    font-size: 13px;
    text-decoration: none;
    font-weight: bold;
    color: #00000094;
}

.titleOurWorkDark p {
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    color: #ffffffab;
}

.titleOurWorkDark a {
    font-size: 13px;
    text-decoration: none;
    font-weight: bold;
    color: #ffffffab;
}


.titleOurWorkDark h1 {
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #ffffffab;
}



.OurWorkLook {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10%;
    margin-top: 2%;
}


.OurWorkLook img {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


.OurWorkLook p {
    font-size: 13px;
}

.OurWorkLook h3 {
    font-size: 17px;
}


.readMore b {
    padding-left: 1%;
    font-size: 13px;
    color: green;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;;
}

.readMore b:hover {
    color: rgba(0, 128, 0, 0.614);
}


@media(max-width:991px) {

    .titleOurWork h1,
    .titleOurWorkDark h1 {
        font-size: 22px;
    }
}