.cardPay {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 300px;
    border-radius: 29px;
}

.cardPayDark {
    background-color: #424242;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 300px;
    border-radius: 29px;
}

.pay {
    font-size: 18px;
    color: #000;
    font-weight: 600;
    margin-top: 5px;
}

.payDark {
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
    margin-top: 5px;
}

.amount {
    background-color: #f3f3fd;
    border-radius: 8px;
}

.inner {
    padding: 8px 19px;
}

.dollar {
    color: #adb5bd;
    font-size: 20px;
    font-weight: 500;
}

.total {
    font-size: 20px;
    font-weight: 500;
    color: #000000;
}

.labeltxt {
    font-size: 13px;
    color: #adb5bd;
    font-weight: 500;
    margin-top: 5px;
}

.imagePay {
    position: relative;
    top: 44px;
    right: 13px;
}

.form-control:focus {
    box-shadow: none;
}

.inputtxt {
    color: #000 !important;
    font-weight: bold;
    font-size: 14px;
    padding: 21px 15px;
    border: 2px solid #adb5bd;
    border-radius: 7px;
    background: white;
}

.exptxt {
    color: #adb5bd;
    font-size: 13px;
    font-weight: 500;
}

.cvvtxt {
    color: #adb5bd;
    font-size: 13px;
    font-weight: 500;
}

.expiry {
    padding: 21px 15px;
    width: 120px;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid #adb5bd;
    border-radius: 7px;
    background: white;
    color: #000 !important;
}

.cvv {
    padding: 21px 15px;
    width: 120px;
    border: 2px solid #adb5bd;
    border-radius: 7px;
    background: white;
    color: #000 !important;
}













/* file Doctor style */

.styleButtonPosition {
    display: flex;
    justify-content: space-around;
}

.modelPopUpSendFilePayToUser {
    background: rgba(255, 255, 255, 0.875);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: auto;
    border-radius: 29px;
    padding: 7%;
}

.modelPopUpSendFilePayToUserDark{
    background: #202020e6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: auto;
    border-radius: 29px;
    padding: 5%;
    border: 2px solid rgba(255, 255, 255, 0.526);
}

.inputMedicalDateDark .form-control {
    border: 2px solid #adb5bd;
    border-radius: 7px;
    background: none;
    color: white;
}

.inputMedicalDate .form-control {
    border: 2px solid #adb5bd;
    border-radius: 7px;
    background: none;
}

.closeModelSendFilePayToUser Button {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 100% 50%;
}

.titleFileUser{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%;
}