.modal-content {
    background: none;
    border: none;
}


.tabsChiose,
.tabsChioseDark {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    padding-top: 2%;
}


.Queues,
.QueuesDark {
    padding-bottom: 19.6%;
}


.showMyQueues {
    align-items: center;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.164);
    border-radius: 30px;
    margin-top: 1%;
}

.showMyQueuesDark {
    align-items: center;
    text-align: center;
    border: 2px solid #ffffff6c;
    border-radius: 30px;
    margin-top: 1%;
}



.showMyQueues p {
    margin-top: -18%;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.58);
}

.showMyQueuesDark p {
    margin-top: -18%;
    font-size: 14px;
    color: #ffffffab;
}



.ButtonQueues {
    display: flex;
    justify-content: center;
    margin-top: -1%;
}


.nav-tabs .nav-link {
    background: whitesmoke;
    font-family: 'Raleway', sans-serif;
    color: #000000a4;
    font-size: 14px;
}

.nav-tabs .nav-link.active {
    background: #44A6DD;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}


.profile-headerDoctor {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}


.profile-headerDoctor .profile-header-cover {
    background-image: url(../images/zxc.jpg);
    width: 70%;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 15%;
    right: 0;
    top: 0;
    bottom: 0
}


.profile-headerDoctor .profile-header-cover:before {
    border-radius: 30px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.247) 0, rgba(0, 0, 0, 0.534));
}



.profile-headerDoctor .profile-header-content {
    color: #fff;
    padding: 25px
}



.profile-headerDoctor-img {
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 110px;
    height: auto;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 30px;
}


.profile-headerDoctor-info h4 {
    font-weight: 500;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}


.profile-headerDoctor .profile-header-content,
.profile-headerDoctor.profile-header-tab {
    position: relative
}


.updateDateUser {
    margin-left: 25%;
    width: 50%;
    padding-bottom: 15.5%;
    padding-top: 2%;
}


.enterUpdate {
    display: flex;
    justify-content: center;
    padding-top: 3%;
}

.colorTextDark {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #ffffffab;
    margin: 5%;
}

.colorText {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #00000099;
    margin: 5%;
}


.inputMedicalDate {
    text-align: center;
}



.HistoryMedical,
.Medical,
.Comments,
.AllReviews,
.NewDoctor,
.AllUsers,
.AllUsersBlocked,
.AllDoctors,
.ActiveQueues,
.shouldPay {
    width: 70%;
    margin-left: 15%;
    padding-bottom: 28%;
    margin-top: 1%;
    font-size: 13px;
}



.NewDoctor {
    padding-bottom: 21%;
}

.NewDoctor input {
    color: #4b4b4b;
    font-family: 'Raleway', sans-serif;
}



@media(max-width:991px) {


    .HistoryMedical,
    .Medical,
    .Comments,
    .AllReviews,
    .AllUsers,
    .AllUsersBlocked,
    .AllDoctors,
    .ActiveQueues,
    .shouldPay,
    .NewDoctor {
        width: 100%;
        margin-left: 0;
        padding-bottom: 29%;
        margin-top: 1%;
        font-size: 13px;
    }



    .profile-header-info h4 {
        font-size: 20px;
    }


    .profile-headerDoctor .profile-header-cover {
        width: 100%;
        left: 0;
    }



    .shouldPay button,
    .ActiveQueues button,
    .Medical button,
    .Comments button,
    .HistoryMedical button,
    .AllUsers button,
    .AllUsersBlocked button,
    .AllDoctors button,
    .AllReviews button {
        width: 370px;
    }


    .Medical table caption,
    .Comments table caption,
    .HistoryMedical table caption,
    .ActiveQueues table caption,
    .shouldPay table caption,
    .AllUsers table caption,
    .AllUsersBlocked table caption,
    .AllDoctors table caption,
    .AllReviews table caption {
        font-size: 1.3em;
    }

    .Medical table thead,
    .Comments table thead,
    .HistoryMedical table thead,
    .ActiveQueues table thead,
    .shouldPay table thead,
    .AllUsers table thead,
    .AllUsersBlocked table thead,
    .AllDoctors table thead,
    .AllReviews table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
    }

    .Medical table tr,
    .Comments table tr,
    .HistoryMedical table tr,
    .ActiveQueues table tr,
    .shouldPay table tr,
    .AllUsers table tr,
    .AllUsersBlocked table tr,
    .AllDoctors table tr,
    .AllReviews table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    .Medical table td,
    .Comments table td,
    .HistoryMedical table td,
    .ActiveQueues table td,
    .shouldPay table td,
    .AllUsers table td,
    .AllUsersBlocked table td,
    .AllDoctors table td,
    .AllReviews table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    .Medical table td::before,
    .Comments table td::before,
    .HistoryMedical table td::before,
    .ActiveQueues table td::before,
    .shouldPay table td::before,
    .AllUsers table td::before,
    .AllUsersBlocked table td::before,
    .AllDoctors table td::before,
    .AllReviews table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    .Medical table td:last-child,
    .Comments table td:last-child,
    .HistoryMedical table td:last-child,
    .ActiveQueues table td:last-child,
    .shouldPay table td:last-child,
    .AllUsers table td:last-child,
    .AllUsersBlocked table td:last-child,
    .AllDoctors table td:last-child,
    .AllReviews table td:last-child {
        border-bottom: 0;
    }
}