.titleOurReview,
.titleOurReviewDark {
    text-align: center;
    align-items: center;
    padding-top: 2%;
}

.titleOurReview h1 {
    font-size: 27px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #00000094;
}

.titleOurReviewDark h1 {
    font-size: 27px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #ffffffab;
}


.OurReviews {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 22%;
    margin-top: 3%;
    margin-bottom: 6%;
}


.addReviews {
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    justify-content: center;
}

.addReviews button {
    width: 40%;
}

.space {
    padding-top: 1%;
    border-bottom: 3px solid #8ccdeb48;
}


.cardModelAddNewReview {
    background: rgba(255, 255, 255, 0.875);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: auto;
    border-radius: 29px;
    padding: 4%;
}

.cardModelAddNewReviewDark {
    background: #202020e6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: auto;
    border-radius: 29px;
    padding: 5%;
    border: 2px solid rgba(255, 255, 255, 0.526);
}

.closeModelAddReview Button {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 100% 50%;
}


.cardModelAddNewReview .form-control {
    border: 2px solid #adb5bd;
    border-radius: 7px;
    background: none;
    color: gray;
}

.cardModelAddNewReviewDark .form-control {
    color: white;
    border: 2px solid #adb5bd;
    border-radius: 7px;
    background: none;
}


.modal-content {
    background: rgba(255, 255, 255, 0.324);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    margin-top: 25%;
}

.form-control {
    background: #4141417c;
    color: white;
}

.titleHeater {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
    margin-top: 1%;
}

.modal h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #ffffff;
    font-size: 22px;
}


.modelsShowReview {
    max-width: 968px;
    margin: auto;
    display: flex;
    justify-content: center;
}

@media (min-width:1281px) {
    .modelsShowReview {
        max-width: 1200px;
    }
}

.testimonial-box {
    height: 280px;
    border-radius: 5px;
    border-top: 3px solid #8ccdeb48;
    border-left: 3px solid #8ccdeb21;
    box-shadow:
        1.6px 1.6px 1.2px rgba(0, 0, 0, 0.015),
        3.4px 3.4px 2.7px rgba(0, 0, 0, 0.022),
        5.8px 5.8px 4.6px rgba(0, 0, 0, 0.027),
        8.7px 8.7px 6.9px rgba(0, 0, 0, 0.031),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
        17.7px 17.7px 14.2px rgba(0, 0, 0, 0.039),
        25.1px 25.1px 20.1px rgba(0, 0, 0, 0.043),
        36.5px 36.5px 29.2px rgba(0, 0, 0, 0.048),
        56.3px 56.3px 45px rgba(0, 0, 0, 0.055),
        100px 100px 80px rgba(0, 0, 0, 0.07);
    padding: 15px;
    margin: 8px;
    background-image: url("https://i.postimg.cc/V6KtdpHq/77.webp");
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}


.profileReviews-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profileReviews-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profileReviews {
    display: flex;
    align-items: center;
}

.nameInfo-userInfo,
.nameInfoDark-userInfo {
    display: flex;
    flex-direction: column;
}



.nameInfo-userInfo span,
.client-comment h6,
.nameInfoDark-userInfo span,
.clientDark-comment h6 {
    font-family: 'Raleway', sans-serif;
    color: #00000099;
    font-size: 12px;
}

.client-comment h6 {
    border-bottom: 2px groove;
    width: 16%;
}



.reviews,
.reviewsDark {
    font-family: 'Raleway', sans-serif;
    color: #00000099;
    font-size: 12px;
}



.box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}



.client-comment p,
.clientDark-comment p {
    font-size: 12px;
    color: #4b4b4b;
    font-family: 'Raleway', sans-serif;
    display: block;
    height: 70px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}


.loadingReview {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loadingReview img {
    height: 170px;
    margin-bottom: 17%;
    margin-top: 10%;
}


@media(max-width:1060px) {
    .testimonial-box .testimonialDark-box {
        width: 45%;
        padding: 10px;
    }
}

@media(max-width:790px) {
    .testimonial-box .testimonialDark-box {
        width: 100%;
    }
}

@media(max-width:340px) {
    .box-top {
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .reviews .reviewsDark {
        margin-top: 10px;
    }
}

::selection {
    color: #ffffff;
    background-color: #252525;
}



/* like button */
.button-30 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #00000094;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 25px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 13px;
    margin-top: 3%;
}

.button-30:focus {
    box-shadow: #07AAE9 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-30:active {
    box-shadow: #07AAE9 0 3px 7px inset;
    transform: translateY(2px);
}




.clickLike {
    display: flex;
    justify-content: end;
}


.like__btn {
    background: #0080ff;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    border-radius: 5px;
    color: #e8efff;
    outline: none;
    border: none;
    cursor: pointer;
    height: 25px;
}





.button-55 {
    align-self: center;
    background-color: #F9F9F9;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #2f2a2a;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 14px;
    line-height: 3px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}


.button-55Dark {
    align-self: center;
    background-color: #8ccdeb48;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(255, 255, 255, 0.2) 15px 28px 25px -18px;
    box-sizing: border-box;
    border: 2px solid #ffffffab;
    color: #ffffffab;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 14px;
    line-height: 3px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-55:hover,
.button-55Dark:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.button-55:focus,
.button-55Dark:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}


.buttonAddNewReviewOrCLose {
    display: flex;
    justify-content: space-evenly;
}



.nextOrPrev {
    margin-top: 2%;
    margin-bottom: 7%;
    display: flex;
    justify-content: center;
    border-top: 3px solid #8ccdeb48;
    padding-top: 8px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.prevNextButton {
    display: flex;
    justify-content: space-evenly;
    width: 35%;
}

.prevNextButton Button {
    height: 23px;
    font-size: 12px;
}


.showPageNumber {
    display: flex;
    justify-content: center;
    margin-bottom: -2%;
    margin-top: 1%;

}

.showPageNumber p {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #00000094;
}


.selectOptionsStyle,
.selectOptionsStyleDark {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.selectOptionsStyleDark select {
    width: 280px;
    text-align: center;
    align-items: center;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #8ccdeb48;
    border-bottom-left-radius: 12%;
    border-bottom-right-radius: 12%;
    background: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #ffffffab;
    font-size: 15px;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    cursor: pointer;
    padding: 0.5%;
}

.selectOptionsStyle select {
    width: 280px;
    text-align: center;
    align-items: center;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #8ccdeb48;
    border-bottom-left-radius: 12%;
    border-bottom-right-radius: 12%;
    background: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #00000094;
    font-size: 15px;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    cursor: pointer;
    padding: 0.5%;
}


.selectOptionsStyle select:hover {
    color: #00000061;
}

.selectOptionsStyleDark select:hover {
    color: #ffffff59;
}

.selectOptionsStyle select:focus,
.selectOptionsStyleDark select:focus {
    outline: none;
    border-bottom: 3px solid #8ccdeb48;
}


.selectOptionsStyle option,
.selectOptionsStyleDark option {
    background: #8ccdeb48;
    color: #000000;
    font-size: 15px;
}


@media(max-width:991px) {

    .titleOurReview h1 {
        font-size: 22px;
    }

    .loadingReview img {
        height: 170px;
        margin-bottom: 30%;
        margin-top: 30%;
    }

    .modelsShowReview {
        max-width: 468px;
    }


    .selectOptionsStyle select,
    .selectOptionsStyleDark select {
        font-size: 13px;
    }

    .selectOptionsStyle option,
    .selectOptionsStyleDark option {
        font-size: 13px;
    }
}



@media only screen and (max-width: 768px) {
    .modelsShowReview {
        max-width: 300px;
    }

    .prevNextButton {
        padding-top: 20px;
        width: 100%;
    }

    .nextOrPrev {
        padding-top: 0;
    }
}