.modelLogin {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgLogin {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* padding-top: 2%;
    padding-bottom: 5%; */
}

.imgLogin img {
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: 180px;
    /* border-radius: 30px; */
}

.form-box {
    background-color: #faf9f8;
    padding: 20px;
    border-radius: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 2px solid rgba(0, 179, 255, 0.22);
    width: 100%;
    max-width: 350px;
}

.form-boxDark {
    background: #424242;
    padding: 10px;
    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 0.526);
}

.loginInOrCloseButtom {
    display: flex;
    justify-content: space-evenly;
}

.loginInOrCloseButtom button {
    font-size: 16px;
}


.header-form {
    margin-bottom: 15px;
}

.header-form Button {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 100% 50%;
    margin-bottom: 2%;
}

.form button {
    margin-top: 40px;
    margin-bottom: 10px;
}

.message,
.messageDark {
    margin-top: 3%;
    margin-bottom: -7%;
}

.message,
.messageDark,
.DemoUserAndDoctor,
.DemoUserAndDoctorDark,
.infoVideoAAdmin,
.infoVideoAAdminDark {
    display: flex;
    justify-content: center;
    font-size: 13px;
}

.messageDark,
.DemoUserAndDoctorDark,
.infoVideoAAdminDark {
    color: white;
}


.message p:hover,
.messageDark p:hover {
    color: gray;
}

.messageDark p,
.message p,
.infoVideoAAdminDark a {
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}


p.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}



.input-group input {
    background-color: #8ccdeb1d;
    color: rgb(134, 134, 134);
    font-size: 13px;
}


.DemoUserAndDoctor a {
    text-decoration: none;
    font-weight: bold;
    color: #232323;
    cursor: pointer;
    font-size: 14px;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}


.DemoUserAndDoctorDark a {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}

.DemoUserAndDoctor a:hover,
.DemoUserAndDoctorDark a:hover {
    color: gray;
}


.borderSpace {
    border-bottom: 2px solid rgba(0, 0, 0, 0.59);
    margin-top: 5%;
    margin-bottom: 2%;
}

.borderSpaceDark {
    border-bottom: 2px solid rgba(255, 255, 255, 0.59);
    margin-top: 5%;
    margin-bottom: 2%;
}


.styleVideoAdmin video {
    width: 100%;
    background: #373e443d;
}


.enterUpdate {
    margin-top: 2%;
}

.personalDataPlaceFree {
    padding-top: 2%;
}


.DemoUserAndDoctor a {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 15px;
}


.DemoUserAndDoctorDark a {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 15px;
}


a.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}


.infoVideoAAdminDark a {
    animation: color-changeInfoAdminDark 2s infinite;
}


.stylePasswordModel {
    padding: 25px;
    background: rgba(60, 60, 60, 0.7);
    backdrop-filter: blur(20px);
    border-radius: 30px;
}

.stylePasswordModelCreateNew {
    padding: 37px;
    background: rgba(60, 60, 60, 0.1);
    backdrop-filter: blur(6px);
    border-radius: 30px;
}

.titleHeaterForgetPassword,
.titleHeaterNewPassword,
.contactProblemForgetPassword {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.titleHeaterForgetPassword h1 {
    margin-top: 5%;
}

.titleHeaterForgetPassword img {
    height: 40px;
}

.titleHeaterNewPassword img {
    height: 180px;
}


.contactProblemForgetPassword p {
    font-size: 12px;
    color: rgb(255, 255, 255);
    margin-top: -2%;
}

.contactProblemForgetPassword img {
    height: 80px;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    cursor: pointer;
}

.contactProblemForgetPassword img:hover {
    filter: drop-shadow(0px 10px 10px #82b5bd7d);
}

.form-control::-webkit-input-placeholder {
    color: gray;
}


@keyframes color-changeInfoAdminDark {
    0% {
        color: #ffffff;
    }

    50% {
        color: #60b6f1;
    }

    100% {
        color: #ffffff;
    }
}

.infoVideoAAdmin a {
    animation: color-changeInfoAdmin 2s infinite;
    text-decoration: none;
    font-weight: bold;
    color: #232323;
    cursor: pointer;
    font-size: 14px;
}

@keyframes color-changeInfoAdmin {
    0% {
        color: #000000;
    }

    50% {
        color: #60b6f1;
    }

    100% {
        color: #000000;
    }
}