.enterEmail {
    text-align: center;
}

.enterEmail button {
    margin-top: 5%;
}

.startChangePassword {
    display: flex;
    justify-content: space-evenly;
}

.sendMailHaveProblem {
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}

.sendMailHaveProblem:hover {
    color: rgba(255, 255, 255, 0.626);
}